*{
    margin: 0px;
    padding: 0px;
}

#conteudo_pag{
    width: 1100px;
    height: 700px;
    background-color:;
    margin-left: auto;
    margin-right: auto;
}

#titulo_pag{
    width: inherit;
    height: 50px;
    background-color:  #006600;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
}

#pag_edit{
    width: inherit;
    height: 620px;
    background-color: ;
    margin-top: 10px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 50px;
}

.item_edit{
    width: 400px;
    height: 150px;
    background-color:  #990000;
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 20px;
}

.img_pag{
    width: 100px;
    height: 120px;
    background-color: ;
    margin-left: 10px;   
    float: left;
}

.text_pag{
    width: 270px;
    height: 120px;
    background-color:;
    float: left;
    margin-left: 10px;
    font-size: 25px;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;
}