body{
    font-family: Comic Sans Ms;
    background-image: url(../../imagens/pizza_hd_cms.jpeg);
    background-size: cover;
}

a{
    text-decoration: none;
    color: black;
}

#caixa_conteudo{
    width: 1200px;
    min-height:  1000px;
    height: auto;
    background-color:;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#cabecalho{
    width: inherit;
    height: 220px;
    background-color:#990000;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}

#titulo_cabecalho{
    width: 500px;
    height: inherit;
    background-color: ;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    padding-top: 70px;
    float: left;
    margin-right: 200px;
    border-top-left-radius:20px;
    color: black;
}

#imagem_cabecalho{
    width: 250px;
    height: inherit;
    background-color: ;
    float: right;
    /*background-image: url(../../imagens/iconfinder_settings_981084.png);*/
    background-repeat: no-repeat;
    background-position:center;
    border-top-right-radius: 20px;
}

#caixa_menu{
    width: inherit;
    height: 200px;
    background-color: #006600;
    color: black;
}

#itens{
    width: 700px;
    height: inherit;
    background-color: ;
    float: left;
}

.item_menu{
    width: 200px;
    height: inherit;
    background-color: ;
    margin-left: 30px;
    float: left;
}


.imagem_menu_item{
    width: inherit;
    height: 130px;
    background-color: ;
    box-sizing: border-box;
    padding-left: 35px;
}

.texto_menu_item{
    width: inherit;
    height: 60px;
    background-color: ;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    border-radius: 20px;
}

.texto_menu_item:hover {
    background-color:  #004d00;
    cursor: pointer;
    
}

#caixa_bl{
    width: 300px;
    height: inherit;
    background-color: ;
    float: right;
}

#caixa_bem_vindo{
    width: 250px;
    height: 50px;
    background-color:;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    font-size: 25px;
}

#caixa_logout{
    width: 150px;
    height: 50px;
    background-color: ;
    margin-top: 90px;
    float: right;
    box-sizing: border-box;
    margin-right: 20px;
    font-size: 18px;
}

#imagem_logout{
    width: 50px;
    height: inherit;
    background-color: ;
    background-image: url(../imagem/iconfinder_exit.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#texto_logout{
    width: 100px;
    height: inherit;
    background-color: ;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    border-radius: 20px;
}

#texto_logout:hover{
    cursor: pointer;
    background-color: #004d00;
}

#area_conteudo{
    width: inherit;
    min-height: 700px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

#conteudo{
    width: 600px;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    box-sizing: border-box;
    padding-top: 30px;
    border-radius: 20px;
    background-color: rgba(68, 70, 77, 0.6);
    color:white;
}

footer{
    width: inherit;
    height: 50px;
    background-color: #990000;
    border-top: solid 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#conteudo_footer{
    width: 500px;
    height: inherit;
    background-color: #990000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}

#conteudo_footer:hover {
    cursor: pointer;
}